h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 45px;
}

.container {
    background-color: thistle;
    width: 65%;
    margin: auto;
}

nav ul li {
    list-style-type: none;
}

nav {
    background-color: bisque;
}

p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.start-button {
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
    margin: 15px;
    border-radius: 5px;
    background-color: thistle;
    box-shadow: black 3px 3px 5px;
}

.start-button:hover {
    
}