h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 45px;
}

.container {
    background-color: thistle;
    width: 80%;
    margin: auto;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
}

nav {
    background-color: bisque;
    justify-content: flex-end;
}